[Unit]
Description=ical homematic Heizungssteuerung
Requires=network.target influxd.service
After=network.target influxd.service

[Service]
PIDFile=/run/ical_homematic.pid
Type=simple
User=ical_homematic
Group=ical_homematic
ExecStart=/var/local/ical_homematic/ical_homematic.py
WorkingDirectory=/var/local/ical_homematic

[Install]
WantedBy=multi-user.target
